alias e='exit'

alias v='nvim'
alias vim='nvim'

alias lg='lazygit'
alias z='zoxide'


# Git related
alias g='git'
alias gl='git log --pretty=format:"%C(auto)%h %C(cyan)%an%Creset %C(yellow)%d %Creset%s %Cgreen(%cr)" --all --decorate'
alias glg='git log --graph --pretty=format:"%C(auto)%h %C(cyan)%an%Creset %C(yellow)%d%Creset %s %Cgreen(%cr)" --all --decorate'


# eza
alias ls='eza $eza_params'
alias l='eza --git-ignore $eza_params'
alias ll='eza --all --header --long $eza_params'
alias llm='eza --all --header --long --sort=modified $eza_params'
alias la='eza -lbhHigUmuSa'
alias lx='eza -lbhHigUmuSa@'
alias lt='eza --tree $eza_params'
alias tree='eza --tree $eza_params'
